	
.resultmodal{
  display: none;
    width: 60%;
    height:;
    background: rgba(0,200,100,0.7);
    position: fixed;
    margin: 0 auto;
    left: 20%;
    top: 0%;
    z-index: 999;
    border: 1px solid mediumseagreen;
    border-radius: 0  0 5px 5px;
  }
  .resultmodalcontent{
    color: #fff;
    font-size: 150%;
    text-align: center;
    padding: 10px;
    font-family: Helvital;
    word-spacing: 3px;
  }

  .resulterror{
    border: 1px solid #d50000;
    /*background: rgba(255,0,0,0.3);*/
    background: rgba(255,90,80,0.7);

  }


	.footer{
		background-color: rgba(0,0,0,0.85);
		padding: 0.5% 4% 1%;
		font-family: Arial;
		bottom: 0;
		width: 100%;
	}
	.chev{
		text-align: center;
		margin: 0;
	}
	#down-footer{
		cursor: pointer;
		color: #fff;
		text-align: center;
		margin-bottom: 1%;
		font-size: 15px;
	}
	#up-footer{
		cursor: pointer;
		color: #fff;
		text-align: center;
		font-size: 15px;
		display: none;
		position: relative;
		bottom: 10px;	
	}
	#down-footer:hover, #up-footer:hover{
		color: limegreen;
		opacity: 0.7;
	}
	.copy2{
		display: none;
	}
	.top-project{
		font-size: 20px;
		font-weight: bold;
		color: #fff;
		font-family: Helvital;
	}
	div>.project{
		line-height: 1.7;
		color: rgba(255,255,255,0.4);
	}
	div.project p>a{
		text-decoration: none;
		cursor: pointer;
	}
	div.project p>a:focus{
		outline: none;
		color: purple;
	}
	.mail{
		text-align: center;
		margin-top: 4%;
		font-size: 17px;
		
	}
	.newsmail {
		width: 83%;
		padding: 6px;
		border-radius: 4px 0  0 4px;
		border:1px solid transparent;
		background: rgba(255,255,255,0.4);
		transition: 0.5s;
		color: #fff;
		height: 38px;
	}
	.subscribe{
		height: 38px;
		width: 50px;
		border-radius: 0 4px 4px 0;
		border:1px solid transparent;
		background:limegreen;
		opacity: 0.7;
		transition: 0.5s;
		color: #fff;
		font-weight: bold;
		position: absolute;
	}
	.newsmailcontainer{position: relative;
		right: 14%;
		transform: translate(5%, 5%);
	}
	
	.subscribe:hover, .newsmail:hover{
		border:1px solid limegreen;
		background:transparent;
		transition: 0.5s;
	}
	
	.newsmail:focus, .subscribe:focus{
		border: 1px solid limegreen;
		outline:none;
		background: rgba(255,255,255,0.1);
		transition: 0.5s;
	}
	
	p.copy{
		color: rgba(255,255,255,0.6);
		font-size: 110%;
		margin: 2% 0 0;
	}
	.fontcontainer{
		width: 100%;
		margin: 0 auto;
		text-align: right;
		padding: 0 7px 0 0;
	}
	.font{
		font-size: 25px;
		margin: 10px 10px 0 0;
		color: #ddd;
	}
	.fa-whatsapp:hover{
		color:limegreen;
		opacity: 0.8;
	}
	.fa-facebook:hover{
		color:#3B5998;
	}
	.fa-twitter:hover, .fa-skype:hover{
		color: #4bb4ff;
	}
	.fa-instagram:hover{
		color: #ff00b9;
	}
	.fa-youtube:hover{
		color: #d50000;
	}
	p.copy2{
		color: rgba(255,255,255,0.6);
		margin: 0;
		padding: 0;
	}

	.mypopmodal{
		width: 33.3%;
		height: 25vh;
		background: rgba(255,255,255,1);
		position: fixed;
		top: 0%;
		left: 33.3%;
		z-index: 999;
		border: 1px solid mediumseagreen;
		border-radius: 0  0 5px 5px;
	}
	.mypopmodalcontent{
		color: mediumseagreen;
		font-size: 23px;
		text-align: center;
		padding: 10% 10% 0;
		font-family: Helvital;
		word-spacing: 5px;
	}

	.error{
		border: 1px solid #d50000;
	}

	.contenterror{
		color: #ff0000;	
	}

	@media screen and (max-width: 801px){
		.mypopmodal{
			width: 80%;
			left: 10%;
		}
		.resultmodalcontent{
			font-size: 100%;
		}
	}
	
	@media screen and (max-width: 1050px){
		.fontcontainer{
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
		.copyright{
			text-align: center;
		}
		.font{
			font-size: 20px;
		}
	}

	@media screen and (max-width: 1200px) and (min-width: 992px){
		.newsmail {
			width: unset;
		}
	}